div {
    height: 700px;
    width: 300px;
    border: 2px solid black;
    background-image:url("https://picsum.photos/200/300");
    background-repeat: no-repeat;
    background-attachment: scroll;
}