.box {
    width: 400px;
    height: 150px;
    border: 2px solid black;
    margin: 5px;
}
.box1 {
    background-color: violet;
    position: relative;
    top: 50px;
}
.box2 {
    background-color: salmon;
    position:relative;
    bottom: 80px;
}
.box3 {
    background-color: skyblue;
    /* position: fixed; */
}
.box4 {
    background-color: yellowgreen;
}