body{
    max-width: 500px;
    margin:0 auto;
    padding: 20px;
}
label{
    display: block;
}
.box{
    display: flex;
    justify-content: space-between;
}
.box .box1{
    width: 48%;
}
input{
    width: 100%;
}